.FooterNavegacion {
    display: flex;

    background: black;

    &__item {
        width: 25%;
        height: 300px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        transition: all .5s ease;

        img {
            width: 100%;
        }

        &:hover {
            cursor: pointer;
            background-size: 120%;
        }
    }
}
