@font-face {
    font-family: "Coolvetica";
    src: url("./CoolveticaBk-Regular.otf");
}

@font-face {
    font-family: "Qanelas Soft DEMO";
    src: url("./QanelasSoftDEMO-ExtraBold.otf");
}

@font-face {
    font-family: "Qanelas";
    src: url("./QanelasSoftDEMO-ExtraBold.otf");
}

@font-face {
    font-family: "Casual";
    src: url("./Casual-Regular.ttf");
}

@font-face {
    font-family: "Chivo";
    src: url("./Chivo-Regular.ttf");
}

@font-face {
    font-family: "Muli";
    src: url("./Muli-Regular.ttf");
}



* {
    font-family: "Coolvetica";
}
