.Body {
    position: relative;
    height: 80%;
    width: 100%;

    // height: auto;

    &.Header__over {
        height: 100%;
    }

    &__max {
        .Body__container {
            @media (min-width: 1280px) {
                width: 1280px;
            }
        }
    }

    &__large{
      //  wi
    }

    &__container {
        //  display: flex;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
        // background: red;
    }
}

.slide-enter,
.slide-exit {
    transition: transform 500ms ease-out;
}

.slide-enter {
    transform: translateX(100%);
}

.slide-enter.slide-enter-active {
    transform: translateX(0%);
}

.slide-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0%);
}

.slide-exit-active {
    transform: translateX(-100%);
}

//-----------

.slideY-enter,
.slideY-exit {
    transition: transform 500ms ease-out;
}

.slideY-enter {
    transform: translateY(100%);
}

.slideY-enter.slideY-enter-active {
    transform: translateY(0%);
}

.slideY-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(0%);
}

.slideY-exit-active {
    transform: translateY(-100%);
}

//-----------


.slideYI-enter,
.slideYI-exit {
    transition: transform 500ms ease-out;
}

.slideYI-enter {
    transform: translateY(100%);
}

.slideYI-enter.slideYI-enter-active {
    transform: translateY(0%);
}

.slideYI-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(0%);
}

.slideYI-exit-active {
    transform: translateY(100%);
}