@import "../../../../constants/styles/sizes/index";


.ECompras{
    width: 100%;
    height: 100%;
    background: #FBFBFB;

    .max-width {
        max-width: $MAX_WIDTH;
        margin: 0 auto;
    }

    &__container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
}